  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>The Monkees travel across the UK for performances for their Fans, whether it's a local party or a concert, we endeavour to satisfy all music fans!! If you would like to make a booking fill in the form below and submit, we shall be in touch soon.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">  
        <form name="bookingForm" data-ng-submit="submitForm()" novalidate>
          <div class="form-group">
            <label>Firstname:</label>
            <input type="text" name="fname" class="form-control" placeholder="Enter your first name" data-ng-model="client.fname" required>
          </div>
          <div class="form-group">
            <label>Surname:</label>
            <input type="text" name="sname" class="form-control" placeholder="Enter your surname name" data-ng-model="client.sname" required>
          </div>
          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" placeholder="Enter your e-mail address" data-ng-model="client.email" required>
          </div>
          <div class="form-group">
            <label>Phone Number:</label>
            <input type="Number" name="phonenum" class="form-control" placeholder="Enter your telephone number" data-ng-model="client.phonenum" required>
          </div>
          <div class="form-group">
            <label>Date of Booking:</label>
            <input type="text" name="bookingdate" class="form-control" placeholder="Enter date yyyy/mm/dd" data-ng-model="client.bookingdate" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>