	<section class="container">
		<section class="row">
			<article class="col-xs-12">
				<h1 align="center">The Monkees</h1>
			</article>
			<article class="col-xs-6">
				<p>The Monkees, and American rock band. Welcome loyal followers, we have compiled a small selection of your favourite bands music and videos to show you the true talent and passion of these 4 musicians - Micky Dolenz, Michael Nesmith, Peter Tork, Davy Jones. Take a look around the website and discover what really makes The Monkees such an incredible band and for that special occasion we also have a booking page so you can enjoy their performances in person. </p>
			</article>
			<figure class="col-xs-6">
				<img src="images/band.jpg" alt="The Monkees"/>
			</figure>
		</section>
	</section>
