<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Monkees - Perforances</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<style type="text/css">
		body{
			background-image: url(../images/music1.jpg);
			background-size: 200px;
			font-size: 20px;
			font-family: "Times New Roman";
		}
		img{
			width: 100%;
			padding: 20px;
		}
		@media (min-width: 942px){
			img{
			width: 350px;
			height: 400px;
			padding: 20px;
			}
		}
		.container {
			background-color: lightblue;
		}
		video{
			width: 80%;
		}
		audio{
			width: 80%
		}

	</style>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a href="../index.html">Home</a></li>
				<li><a href="../templates/Photos.html">Photos</a></li>	
				<li><a href="../templates/Performances.html">Performances</a></li>	
				<li><a href="../templates/Booking.html">Booking</a></li>		
			</ul>
		</nav>
	</div>
	<div class="container" align="center">
		<div class="row">
			<div class="col-xs-12">
				<h3>Day Dream Believer</h3>
				<video controls="controls" preload="metadata">
					<source src="../Video/TheMonkees.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Day Dream Believer</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src="../Audio/DaydreamBeliever.mp3"/>
				</audio>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Im a Believer</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src="../Audio/ImABeliever.mp3"/>
				</audio>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Stepping Stone</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src="../Audio/SteppingStone.mp3"/>
				</audio>
			</div>
		</div>
	</div>
</body>
</html>