	<div class="container" align="center">
		<div class="row">
			<div class="col-xs-12">
				<h3>Day Dream Believer</h3>
				<video controls="controls" preload="metadata">
					<source src=".Video/TheMonkees.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Day Dream Believer</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src=".Audio/DaydreamBeliever.mp3"/>
				</audio>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Im a Believer</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src=".Audio/ImABeliever.mp3"/>
				</audio>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3>Stepping Stone</h3>
				<audio controls="controls" preload="metadata" loop>
					<source src=".Audio/SteppingStone.mp3"/>
				</audio>
			</div>
		</div>
	</div>