	<div class="container"  align="center">
		<div class="row" >
			<div class="col-xs-12">
				<h1 text align="center">The Monkees</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h3>The Band</h3>
				<img src="./images/album.jpg" alt="The Monkees - album cover" />
			</div>
			<div class="col-xs-6">
				<h3>The Band</h3>
				<img src="../images/cover.jpg" alt="The Monkees - album cover"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h3>The Early Years</h3>
				<img src="/images/cover1.jpg" alt="The Monkees - Early Years" />
			</div>
			<div class="col-xs-6">
				<h3>The Early Years</h3>
				<img src=".images/cover3.jpg" alt="The Monkees - Early Years"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h3>Micky Dolenz</h3>
				<img src="images/md.jpg" alt="The Monkees - Micky" />
			</div>
			<div class="col-xs-6">
				<h3>Michael Nesmith</h3>
				<img src="images/mn.jpg" alt="The Monkees - Mike"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h3>Peter Tork</h3>
				<img src="images/pt.jpg" alt="The Monkees - Peter" />
			</div>
			<div class="col-xs-6">
				<h3>Davy Jones</h3>
				<img src="images/dj.jpg" alt="The Monkees - Davy"/>
			</div>
		</div>
	</div>